body {
  background: #1b1a17;
}
.todoList {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.todoList__row {
}
.todoList__input {
  margin-right: 8px;
}
.input_1 {
  margin-top: 23px;
  margin-bottom: 6px;
}
.todoTitle__content {
}
.input_2 {
}
.todoList__button {
  margin-top: 26px;
}
.todoList__content__button {
}
.todoList {
}
input {
  width: 267px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ff8303;
  background: #242320;
  color: white;
}
